<section class="about-field-section">
    <div class="container">
        <h2 class="about-field-title">We are on a mission to change view of real estate field</h2>
        <p class="about-field-text">
            Using it can make you sound like you have been studying english for a long time. Here's the challenge
        </p>
        <ul class="about-section-list">
            <li class="about-section-item">
                <div class="benefit-section-icon-container">
                    <svg class="benefit-section-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-team"></use>
                    </svg>
                </div>
                <h3 class="about-section-item-title">Committed Team</h3>
                <p class="about-section-item-text">
                    Using it can make you sound like you have been studying english
                    for a long time. Here's the challenge
                </p>
            </li>
            <li class="about-section-item">
                <div class="benefit-section-icon-container">
                    <svg class="benefit-section-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-medal"></use>
                    </svg>
                </div>
                <h3 class="about-section-item-title">Industry Experts</h3>
                <p class="about-section-item-text">
                    Using it can make you sound like you have been studying english
                    for a long time. Here's the challenge
                </p>
            </li>
            <li class="about-section-item">
                <div class="benefit-section-icon-container">
                    <svg class="benefit-section-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-like"></use>
                    </svg>
                </div>
                <h3 class="about-section-item-title">Our Advantages</h3>
                <p class="about-section-item-text">
                    Using it can make you sound like you have been studying english
                    for a long time. Here's the challenge
                </p>
            </li>
            <li class="about-section-item">
                <div class="benefit-section-icon-container">
                    <svg class="benefit-section-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-agents"></use>
                    </svg>
                </div>
                <h3 class="about-section-item-title">Experienced Agents</h3>
                <p class="about-section-item-text">
                    Using it can make you sound like you have been studying english
                    for a long time. Here's the challenge
                </p>
            </li>
        </ul>
    </div>
</section>