.forgot-password-text-container {
    margin-bottom: 30px;
}

.forgot-password-text {
    max-width: 444px;
}

.forgot-message-text {
    margin-top: 8px;
    font-size: 16px;
    color: red;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.forgot-message-text.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}