.create-logo {
    position: absolute;
    top: 60px;
    left: 60px;
}

.create-image {
    height: 100vh;
    object-fit: cover;
}

.image-form-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.form-title {
    margin-bottom: 6px;
}

.form-text {
    font-size: 16px;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}

.create-form {
    margin-bottom: 30px;
}

.label-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-label {
    font-size: 12px;
    color: var(--main-text-color);
    margin-bottom: 6px;
    cursor: pointer;
}

.form-input {
    border: 1px solid var(--form-border-color);
    border-radius: 10px;
    padding: 16px;
    width: 445px;
    height: 56px;
    transition: border-color .3s ease;
}

.form-input::placeholder {
    font-family: var(--third-family);
    font-size: 16px;
}

.form-input:hover,
.form-input:focus {
    outline: none;
    border-color: var(--form-hover-border-color);
}

.form-input-checkbox {
    width: 20px;
    height: 20px;
}

.label-input-checkbox-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.form-label-checkbox {
    font-size: 16px;
    cursor: pointer;
}

.form-input-link {
    font-weight: 700;
    color: var(--form-link-text-color);
}

.form-button {
    font-size: 16px;
    color: var(--main-text-color-light);

    min-width: 445px;
    height: 56px;
    background-color: var();

}

.sign-in-text {
    font-size: 16px;
    text-align: center;
}

.sign-in-link {
    color: var(--form-link-text-color)
}

.sign-in-link:hover,
.sign-in-link:focus,
.form-input-link:hover,
.form-input-link:focus {
    text-decoration: underline;
}