.create-logo {
    position: absolute;
    top: 60px;
    left: 60px;
}

.create-image {
    height: 100vh;
    object-fit: cover;
}

.image-form-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.form-title {
    margin-bottom: 6px;
}

.create-form {
    margin-bottom: 30px;
}