<section class="create-page-section">
    <div class="image-form-container">


        <picture>
            <source srcset="/img/create-page/password.webp 1x, /img/create-page/password@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp" />
            <source srcset="/img/create-page/password.jpg 1x, /img/create-page/password@2x.jpg 2x"
                media="(min-width: 1200px)" type="image/jpg" />
            <img class="create-image" src="/img/create-page/password.jpg" alt="Hero image with build" />
        </picture>

        <div class="title-form-container">
            <a class="back-link" href="./login-account.html">
                <svg class="back-link-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-arrow-left"></use>
                </svg>
                Back
            </a>

            <h2 class="form-title">Forgot Password</h2>
            <p class="form-text forgot-password-text">Enter your registered email address. We'll send you a code to
                reset your password.</p>

            <form class="create-form js-forgot-form">
                <div class="label-input-container forgot-password-text-container">
                    <label class="form-label" for="user-email">Email Address</label>
                    <input class="form-input js-forgot-input" type="email" name="user-email" id="user-email"
                        placeholder="mark.allen@example.com" required>
                </div>
                <a class="form-button button js-forgot-link" href="./OTP-page.html">Send OTP</a>
            </form>

        </div>
    </div>
</section>