<header class="header">
    <div class="container">
        <nav class="nav-container">
            <a class="header-logo" href="./index.html">
                <img src="/img/logo.svg" alt="Logo" width="148" height="60">
            </a>

            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Properties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Agents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>

            <a class="button header-button-link" href="/create-account.html">Login</a>
        </nav>
    </div>
</header>