<section class="agents-section">
    <div class="container">
        <h2 class="agents-title">Our Agents</h2>
        <p class="agents-text">Using it can make you sound like you have been studying english for a long time. Here's
            the challenge</p>

        <ul class="agents-list">
            <li class="agents-item">
                <picture>
                    <source srcset="/img/home-page/agend-leasie.webp 1x, /img/home-page/agend-leasie@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source srcset="/img/home-page/agend-leasie.jpg 1x, /img/home-page/agend-leasie@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg" />
                    <img class="agents-image" src="/img/home-page/agend-leasie.jpg" alt="An agent portrait" />
                </picture>
                <h3 class="agent-name">Leasie Willions</h3>
                <p class="agent-profession">Real Estate Agent</p>
                <p class="agent-description">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>
            </li>

            <li class="agents-item">
                <h3 class="agent-name">Johnson Watson</h3>
                <p class="agent-profession">Real Estate Agent</p>
                <p class="agent-description">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>
                <picture>
                    <source srcset="/img/home-page/agend-johnson.webp 1x, /img/home-page/agend-johnson@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source srcset="/img/home-page/agend-johnson.jpg 1x, /img/home-page/agend-johnson@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg" />
                    <img class="agents-image" src="/img/home-page/agend-johnson.jpg" alt="An agent portrait" />
                </picture>
            </li>

            <li class="agents-item">
                <picture>
                    <source srcset="/img/home-page/agend-mark.webp 1x, /img/home-page/agend-mark@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source srcset="/img/home-page/agend-mark.jpg 1x, /img/home-page/agend-mark@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg" />
                    <img class="agents-image" src="/img/home-page/agend-mark.jpg" alt="An agent portrait" />
                </picture>

                <h3 class="agent-name">Mark Allen</h3>
                <p class="agent-profession">Real Estate Agent</p>
                <p class="agent-description">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>
            </li>
        </ul>
    </div>
</section>