<section class="benefit-section">
    <div class="searc-section">
        <ul class="searc-list">
            <li class="searc-item">
                <div class="searc-icon-container">
                    <svg class="searc-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-location"></use>
                    </svg>
                </div>
                <div class="searc-item-text-container">
                    <h3 class="searc-item-title">Location</h3>
                    <p class="searc-item-text">California, United State</p>
                </div>
            </li>
            <li class="searc-item">
                <div class="searc-icon-container">
                    <svg class="searc-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-coin-dollar"></use>
                    </svg>
                </div>
                <div class="searc-item-text-container">
                    <h3 class="searc-item-title">Price</h3>
                    <p class="searc-item-text">$1000 - $10,000</p>
                </div>
            </li>
            <li class="searc-item">
                <div class="searc-icon-container">
                    <svg class="searc-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-home"></use>
                    </svg>
                </div>
                <div class="searc-item-text-container">
                    <h3 class="searc-item-title">Type of Property</h3>
                    <p class="searc-item-text">Apartment</p>
                </div>
            </li>
        </ul>
        <button class="searc-button" type="button">
            <svg class="searc-button-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-search"></use>
            </svg>
        </button>
    </div>

    <div class="container benefit-section-container">

        <div class="text-content-container">
            <h2 class="benefit-section-title">Why should good house for you?</h2>
            <p class="benefit-section-text">
                Using it can make you sound like you have been studying english for a long time. Here's the challenge
            </p>

            <ul class="benefit-section-list">
                <li class="benefit-section-item">
                    <div class="benefit-section-icon-container">
                        <svg class="benefit-section-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-medal"></use>
                        </svg>
                    </div>
                    <h3 class="benefit-section-item-title">Best Platform</h3>
                    <p class="benefit-section-item-text">
                        Using it can make you sound like you have been studyin english for a long time. Here's the
                        challenge
                    </p>
                </li>
                <li class="benefit-section-item">
                    <div class="benefit-section-icon-container">
                        <svg class="benefit-section-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-home-setting"></use>
                        </svg>
                    </div>
                    <h3 class="benefit-section-item-title">Guaranteed Service</h3>
                    <p class="benefit-section-item-text">
                        Using it can make you sound like you have been studyin english for a long time. Here's the
                        challenge
                    </p>
                </li>
                <li class="benefit-section-item">
                    <div class="benefit-section-icon-container">
                        <svg class="benefit-section-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-badge-percent"></use>
                        </svg>
                    </div>
                    <h3 class="benefit-section-item-title">Best Platform</h3>
                    <p class="benefit-section-item-text">
                        Using it can make you sound like you have been studyin english for a long time. Here's the
                        challenge
                    </p>
                </li>
            </ul>
        </div>

        <picture>
            <source srcset="/img/home-page/benefits-portrait.webp 1x, /img/home-page/benefits-portrait.webp 2x"
                media="(min-width: 1200px)" type="webp" />
            <source srcset="/img/home-page/benefits-portrait.png 1x, ../../img/home-page/benefits-portrait.png 2x"
                media="(min-width: 1200px)" type="jpg" />
            <img class="benefit-section-image" src="/img/home-page/benefits-portrait.png" alt="A man" />
        </picture>
    </div>
</section>