<section class="featured-section">
    <div class="container">
        <h2 class="featured-title">Featured Properties</h2>
        <p class="featured-text">
            Using it can make you sound like you have been studying english for a long time. Here's the challenge
        </p>

        <div class="featured-container">
            <picture>
                <source
                    srcset="/img/home-page/properties-main-img.webp 1x, /img/home-page/properties-main-img@2x.webp 2x"
                    media="(min-width: 1200px)" type="image/webp" />
                <source srcset="/img/home-page/properties-main-img.jpg 1x, /img/home-page/properties-main-img@2x.jpg 2x"
                    media="(min-width: 1200px)" type="image/jpg" />
                <img class="featured-image" src="/img/home-page/properties-main-img.jpg"
                    alt="An image with the build" />
            </picture>

            <div class="featured-build-container">
                <h3 class="featured-build-title">Modern luxury sea view villa sale in California</h3>
                <p class="featured-build-price">$8500000</p>
                <p class="featured-build-text">Using it can make you sound like you have been studying english for a
                    long time.</p>

                <ul class="featured-icons-list">
                    <li class="featured-icons-item">
                        <svg class="featured-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bed"></use>
                        </svg>
                        <p class="featured-icon-text">5</p>
                    </li>
                    <li class="featured-icons-item">
                        <svg class="featured-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bath"></use>
                        </svg>
                        <p class="featured-icon-text">6</p>
                    </li>
                    <li class="featured-icons-item">
                        <svg class="featured-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-car"></use>
                        </svg>
                        <p class="featured-icon-text">3</p>
                    </li>
                </ul>

                <button class="featured-button" type="button">More Details</button>
            </div>
        </div>
    </div>
</section>