<section class="hero-section">
    <div class="container">
        <div class="hero-container">
            <h1 class="hero-section-title">Let's start search for your dream home</h1>
            <div class="hero-text-button-container">
                <p class="hero-section-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>
                <button class="button hero-section-button">Get Started</button>
            </div>
        </div>
    </div>

    <picture>
        <source srcset="/img/home-page/hero-image.webp 1x, /img/home-page/hero-image.webp 2x"
            media="(min-width: 1200px)" type="webp" />
        <source srcset="/img/home-page/hero-image.jpg 1x, /img/home-page/hero-image.jpg 2x" media="(min-width: 1200px)"
            type="jpg" />
        <img class="hero-image" src="/img/home-page/hero-image.jpg" alt="Hero image with build" />
    </picture>
</section>