<section class="properties-section">
    <div class="container">
        <div class="title-nav-container">
            <h2 class="properties-title">Explore the latest properties available</h2>

            <ul class="properties-nav-list">
                <li class="properties-nav-item">
                    <button class="properties-icon-button prev">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </li>
                <li class="properties-nav-item">
                    <button class="properties-icon-button next">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>

        <ul class="properties-list">
            <li class="properties-item-card">
                <picture>
                    <source srcset="/img/home-page/prop-1.webp 1x, /img/home-page/prop-1@2x.webp 2x"
                        media="(min-width: 1200px)" type="webp" />
                    <source srcset="/img/home-page/prop-1.jpg 1x, /img/home-page/prop-1@2x.jpg 2x"
                        media="(min-width: 1200px)" type="jpg" />
                    <img class="properties-image" src="/img/home-page/prop-1.jpg" alt="A build" />
                </picture>

                <button class="action-button like" type="button">
                    <svg class="action-icon heart like" width="20" height="20">
                        <use href="/img/icons.svg#icon-heart"></use>
                    </svg>
                </button>

                <h3 class="properties-item-title">Luxury Apartment in California</h3>
                <p class="properties-item-sum">$250000</p>
                <p class="properties-item-text">
                    Using it can make you sound like you have been studying english for a
                    long time.
                </p>

                <ul class="properties-icons-list">
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bed"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bath"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-car"></use>
                        </svg>
                        <p>1</p>
                    </li>
                </ul>

                <div class="owner-actions-container">
                    <div class="owner-img-name-container">
                        <picture>
                            <source srcset="/img/home-page/owner-alexa.webp 1x, /img/home-page/owner-alexa@2x.webp 2x"
                                media="(min-width: 1200px)" type="webp" />
                            <source srcset="/img/home-page/owner-alexa.png 1x, /img/home-page/owner-alexa@2x.png 2x"
                                media="(min-width: 1200px)" type="png" />
                            <img class="owner-image" src="/img/home-page/owner-alexa.png" alt="An owner" />
                        </picture>
                        <h3 class="owner-name">Alexa Mate</h3>
                    </div>

                    <ul class="action-list">
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon" width="24" height="24">
                                    <use href="/img/icons.svg#icon-plus"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon heart" width="20" height="20">
                                    <use href="/img/icons.svg#icon-heart"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon share" width="20" height="20">
                                    <use href="/img/icons.svg#icon-share"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="properties-item-card">
                <picture>
                    <source srcset="/img/home-page/prop-2.webp 1x, /img/home-page/prop-2@2x.webp 2x"
                        media="(min-width: 1200px)" type="webp" />
                    <source srcset="/img/home-page/prop-2.jpg 1x, /img/home-page/prop-2@2x.jpg 2x"
                        media="(min-width: 1200px)" type="jpg" />
                    <img class="properties-image" src="/img/home-page/prop-2.jpg" alt="A build" />
                </picture>

                <button class="action-button like" type="button">
                    <svg class="action-icon heart like" width="20" height="20">
                        <use href="/img/icons.svg#icon-heart"></use>
                    </svg>
                </button>

                <h3 class="properties-item-title">Elegant Villa sale in Miami</h3>
                <p class="properties-item-sum">$7500000</p>
                <p class="properties-item-text">
                    Using it can make you sound like you have been studying english for a
                    long time.
                </p>

                <ul class="properties-icons-list">
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bed"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bath"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-car"></use>
                        </svg>
                        <p>1</p>
                    </li>
                </ul>

                <div class="owner-actions-container">
                    <div class="owner-img-name-container">
                        <picture>
                            <source srcset="/img/home-page/owner-joe.webp 1x, /img/home-page/owner-joe@2x.webp 2x"
                                media="(min-width: 1200px)" type="webp" />
                            <source srcset="/img/home-page/owner-joe.png 1x, /img/home-page/owner-joe@2x.png 2x"
                                media="(min-width: 1200px)" type="png" />
                            <img class="owner-image" src="/img/home-page/owner-joe.png" alt="An owner" />
                        </picture>
                        <h3 class="owner-name">Joe Smith</h3>
                    </div>

                    <ul class="action-list">
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon" width="24" height="24">
                                    <use href="/img/icons.svg#icon-plus"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon heart" width="20" height="20">
                                    <use href="/img/icons.svg#icon-heart"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon share" width="20" height="20">
                                    <use href="/img/icons.svg#icon-share"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="properties-item-card">
                <picture>
                    <source srcset="/img/home-page/prop-3.webp 1x, /img/home-page/prop-3@2x.webp 2x"
                        media="(min-width: 1200px)" type="webp" />
                    <source srcset="/img/home-page/prop-3.jpg 1x, /img/home-page/prop-3@2x.jpg 2x"
                        media="(min-width: 1200px)" type="jpg" />
                    <img class="properties-image" src="/img/home-page/prop-3.jpg" alt="A build" />
                </picture>

                <button class="action-button like" type="button">
                    <svg class="action-icon heart like" width="20" height="20">
                        <use href="/img/icons.svg#icon-heart"></use>
                    </svg>
                </button>

                <h3 class="properties-item-title">Duplex Apartment for Rent in California</h3>
                <p class="properties-item-sum">$4378</p>
                <p class="properties-item-text">
                    Using it can make you sound like you have been studying english for a
                    long time.
                </p>

                <ul class="properties-icons-list">
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bed"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bath"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-car"></use>
                        </svg>
                        <p>1</p>
                    </li>
                </ul>

                <div class="owner-actions-container">
                    <div class="owner-img-name-container">
                        <picture>
                            <source srcset="/img/home-page/owner-joe.webp 1x, /img/home-page/owner-perry@2x.webp 2x"
                                media="(min-width: 1200px)" type="webp" />
                            <source srcset="/img/home-page/owner-perry.png 1x, /img/home-page/owner-perry@2x.png 2x"
                                media="(min-width: 1200px)" type="png" />
                            <img class="owner-image" src="/img/home-page/owner-perry.png" alt="An owner" />
                        </picture>
                        <h3 class="owner-name">Perry John</h3>
                    </div>

                    <ul class="action-list">
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon" width="24" height="24">
                                    <use href="/img/icons.svg#icon-plus"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon heart" width="20" height="20">
                                    <use href="/img/icons.svg#icon-heart"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon share" width="20" height="20">
                                    <use href="/img/icons.svg#icon-share"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="properties-item-card">
                <picture>
                    <source srcset="/img/home-page/prop-4.webp 1x, /img/home-page/prop-4@2x.webp 2x"
                        media="(min-width: 1200px)" type="webp" />
                    <source srcset="/img/home-page/prop-4.jpg 1x, /img/home-page/prop-4@2x.jpg 2x"
                        media="(min-width: 1200px)" type="jpg" />
                    <img class="properties-image" src="/img/home-page/prop-4.jpg" alt="A build" />
                </picture>

                <button class="action-button like" type="button">
                    <svg class="action-icon heart like" width="20" height="20">
                        <use href="/img/icons.svg#icon-heart"></use>
                    </svg>
                </button>

                <h3 class="properties-item-title">Elegant Villa sale in Miami</h3>
                <p class="properties-item-sum">$400000</p>
                <p class="properties-item-text">
                    Using it can make you sound like you have been studying english for a
                    long time.
                </p>

                <ul class="properties-icons-list">
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bed"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bath"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-car"></use>
                        </svg>
                        <p>1</p>
                    </li>
                </ul>

                <div class="owner-actions-container">
                    <div class="owner-img-name-container">
                        <picture>
                            <source srcset="/img/home-page/owner-wade.webp 1x, /img/home-page/owner-wade@2x.webp 2x"
                                media="(min-width: 1200px)" type="webp" />
                            <source srcset="/img/home-page/owner-wade.png 1x, /img/home-page/owner-wade@2x.png 2x"
                                media="(min-width: 1200px)" type="png" />
                            <img class="owner-image" src="/img/home-page/owner-wade.png" alt="An owner" />
                        </picture>
                        <h3 class="owner-name">Wade Warren</h3>
                    </div>

                    <ul class="action-list">
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon" width="24" height="24">
                                    <use href="/img/icons.svg#icon-plus"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon heart" width="20" height="20">
                                    <use href="/img/icons.svg#icon-heart"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon share" width="20" height="20">
                                    <use href="/img/icons.svg#icon-share"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="properties-item-card">
                <picture>
                    <source srcset="/img/home-page/prop-5.webp 1x, /img/home-page/prop-5@2x.webp 2x"
                        media="(min-width: 1200px)" type="webp" />
                    <source srcset="/img/home-page/prop-5.jpg 1x, /img/home-page/prop-5@2x.jpg 2x"
                        media="(min-width: 1200px)" type="jpg" />
                    <img class="properties-image" src="/img/home-page/prop-5.jpg" alt="A build" />
                </picture>

                <button class="action-button like" type="button">
                    <svg class="action-icon heart like" width="20" height="20">
                        <use href="/img/icons.svg#icon-heart"></use>
                    </svg>
                </button>

                <h3 class="properties-item-title">Duplex Apartment for Rent in California</h3>
                <p class="properties-item-sum">$7865</p>
                <p class="properties-item-text">
                    Using it can make you sound like you have been studying english for a
                    long time.
                </p>

                <ul class="properties-icons-list">
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bed"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bath"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-car"></use>
                        </svg>
                        <p>1</p>
                    </li>
                </ul>

                <div class="owner-actions-container">
                    <div class="owner-img-name-container">
                        <picture>
                            <source srcset="/img/home-page/owner-john.webp 1x, /img/home-page/owner-john@2x.webp 2x"
                                media="(min-width: 1200px)" type="webp" />
                            <source srcset="/img/home-page/owner-john.png 1x, /img/home-page/owner-john@2x.png 2x"
                                media="(min-width: 1200px)" type="png" />
                            <img class="owner-image" src="/img/home-page/owner-john.png" alt="An owner" />
                        </picture>
                        <h3 class="owner-name">John Willions</h3>
                    </div>

                    <ul class="action-list">
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon" width="24" height="24">
                                    <use href="/img/icons.svg#icon-plus"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon heart" width="20" height="20">
                                    <use href="/img/icons.svg#icon-heart"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon share" width="20" height="20">
                                    <use href="/img/icons.svg#icon-share"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="properties-item-card">
                <picture>
                    <source srcset="/img/home-page/prop-6.webp 1x, /img/home-page/prop-6@2x.webp 2x"
                        media="(min-width: 1200px)" type="webp" />
                    <source srcset="/img/home-page/prop-6.jpg 1x, /img/home-page/prop-6@2x.jpg 2x"
                        media="(min-width: 1200px)" type="jpg" />
                    <img class="properties-image" src="/img/home-page/prop-6.jpg" alt="A build" />
                </picture>

                <button class="action-button like" type="button">
                    <svg class="action-icon heart like" width="20" height="20">
                        <use href="/img/icons.svg#icon-heart"></use>
                    </svg>
                </button>

                <h3 class="properties-item-title">Luxury Apartment in California</h3>
                <p class="properties-item-sum">$4579920</p>
                <p class="properties-item-text">
                    Using it can make you sound like you have been studying english for a
                    long time.
                </p>

                <ul class="properties-icons-list">
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bed"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-bath"></use>
                        </svg>
                        <p>2</p>
                    </li>
                    <li class="properties-icons-item">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-car"></use>
                        </svg>
                        <p>1</p>
                    </li>
                </ul>

                <div class="owner-actions-container">
                    <div class="owner-img-name-container">
                        <picture>
                            <source srcset="/img/home-page/owner-robert.webp 1x, /img/home-page/owner-robert@2x.webp 2x"
                                media="(min-width: 1200px)" type="webp" />
                            <source srcset="/img/home-page/owner-robert.png 1x, /img/home-page/owner-robert@2x.png 2x"
                                media="(min-width: 1200px)" type="png" />
                            <img class="owner-image" src="/img/home-page/owner-robert.png" alt="An owner" />
                        </picture>
                        <h3 class="owner-name">Robert Fox</h3>
                    </div>

                    <ul class="action-list">
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon" width="24" height="24">
                                    <use href="/img/icons.svg#icon-plus"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon heart" width="20" height="20">
                                    <use href="/img/icons.svg#icon-heart"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="action-item">
                            <button class="action-button" type="button">
                                <svg class="action-icon share" width="20" height="20">
                                    <use href="/img/icons.svg#icon-share"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>