<section class="search-section" id="search-section">
    <ul class="search-list">
        <li class="search-item">
            <div class="search-icon-container">
                <svg class="search-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-location"></use>
                </svg>
            </div>
            <div class="search-item-text-container">
                <h3 class="search-item-title">Location</h3>
                <p class="search-item-text">California, United State</p>
            </div>
            <div class="item-options-container">
                <ul class="options-list">
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-location"></use>
                            </svg>
                        </div>
                        <p class="options-text">California, United State</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-location"></use>
                            </svg>
                        </div>
                        <p class="options-text">Miami, United State</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-location"></use>
                            </svg>
                        </div>
                        <p class="options-text">New York, United State</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-location"></use>
                            </svg>
                        </div>
                        <p class="options-text">New Jersey, United State</p>
                    </li>
                </ul>
            </div>
        </li>

        <li class="search-item">
            <div class="search-icon-container">
                <svg class="search-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-coin-dollar"></use>
                </svg>
            </div>
            <div class="search-item-text-container">
                <h3 class="search-item-title">Price</h3>
                <p class="search-item-text">$1000 - $10,000</p>
            </div>
            <div class="item-options-container coin">
                <ul class="options-list">
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-coin-dollar"></use>
                            </svg>
                        </div>
                        <p class="options-text">$1000 - $10,000</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-coin-dollar"></use>
                            </svg>
                        </div>
                        <p class="options-text">$10,000 - $100,000</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-coin-dollar"></use>
                            </svg>
                        </div>
                        <p class="options-text">$100,000 - $500,000</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-coin-dollar"></use>
                            </svg>
                        </div>
                        <p class="options-text">$500,000 - $1000,000</p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="search-item">
            <div class="search-icon-container">
                <svg class="search-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-home"></use>
                </svg>
            </div>
            <div class="search-item-text-container">
                <h3 class="search-item-title">Type of Property</h3>
                <p class="search-item-text">Apartment</p>
            </div>
            <div class="item-options-container">
                <ul class="options-list">
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-home"></use>
                            </svg>
                        </div>
                        <p class="options-text">Apartment</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-home"></use>
                            </svg>
                        </div>
                        <p class="options-text">Villa</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-home"></use>
                            </svg>
                        </div>
                        <p class="options-text">Duplex</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-home"></use>
                            </svg>
                        </div>
                        <p class="options-text">Penthouse</p>
                    </li>
                    <li class="options-item">
                        <div class="options-icon-container">
                            <svg class="options-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-home"></use>
                            </svg>
                        </div>
                        <p class="options-text">House</p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <a class="search-link">
        <svg class="search-link-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-search"></use>
        </svg>
    </a>
</section>