<section class="testimonials-section">
    <div class="container">
        <div class="testimonials-title-nav-container">
            <h2 class="testimonials-title">Testimonials</h2>

            <ul class="properties-nav-list">
                <li class="properties-nav-item">
                    <button class="properties-icon-button prev">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </li>
                <li class="properties-nav-item">
                    <button class="properties-icon-button next">
                        <svg class="properties-icon" width="24" height="24">
                            <use href="/img/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>

        <ul class="testimonials-list">
            <li class="testimonials-item">
                <ul class="testimonials-icons-list">
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                </ul>

                <p class="testimonials-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>

                <div class="testimonials-author-container">
                    <picture>
                        <source
                            srcset="/img/home-page/feedback-robert.webp 1x, /img/home-page/feedback-robert@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source srcset="/img/home-page/feedback-robert.jpg 1x, /img/home-page/feedback-robert@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg" />
                        <img class="testimonials-image" src="/img/home-page/feedback-robert.jpg"
                            alt="Feedback portrait" />
                    </picture>
                    <div class="testimonials-text-container">
                        <h3 class="testimonials-name">Robert Hawkins</h3>
                        <p class="testimonials-location">California, United State</p>
                    </div>
                </div>
            </li>

            <li class="testimonials-item">
                <ul class="testimonials-icons-list">
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                </ul>

                <p class="testimonials-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>

                <div class="testimonials-author-container">
                    <picture>
                        <source
                            srcset="/img/home-page/feedback-dianne.webp 1x, /img/home-page/feedback-dianne@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source srcset="/img/home-page/feedback-dianne.jpg 1x, /img/home-page/feedback-dianne@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg" />
                        <img class="testimonials-image" src="/img/home-page/feedback-dianne.jpg"
                            alt="Feedback portrait" />
                    </picture>
                    <div class="testimonials-text-container">
                        <h3 class="testimonials-name">Dianne Russell</h3>
                        <p class="testimonials-location">California, United State</p>
                    </div>
                </div>
            </li>

            <li class="testimonials-item">
                <ul class="testimonials-icons-list">
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                </ul>

                <p class="testimonials-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>

                <div class="testimonials-author-container">
                    <picture>
                        <source srcset="/img/home-page/feedback-cody.webp 1x, /img/home-page/feedback-cody@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source srcset="/img/home-page/feedback-cody.jpg 1x, /img/home-page/feedback-cody@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg" />
                        <img class="testimonials-image" src="/img/home-page/feedback-cody.jpg"
                            alt="Feedback portrait" />
                    </picture>
                    <div class="testimonials-text-container">
                        <h3 class="testimonials-name">Cody Fisher</h3>
                        <p class="testimonials-location">California, United State</p>
                    </div>
                </div>
            </li>

            <li class="testimonials-item">
                <ul class="testimonials-icons-list">
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                </ul>

                <p class="testimonials-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>

                <div class="testimonials-author-container">
                    <picture>
                        <source
                            srcset="/img/home-page/feedback-cameron.webp 1x, /img/home-page/feedback-cameron@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source
                            srcset="/img/home-page/feedback-cameron.jpg 1x, /img/home-page/feedback-cameron@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg" />
                        <img class="testimonials-image" src="/img/home-page/feedback-cameron.jpg"
                            alt="Feedback portrait" />
                    </picture>
                    <div class="testimonials-text-container">
                        <h3 class="testimonials-name">Cameron Williamson</h3>
                        <p class="testimonials-location">California, United State</p>
                    </div>
                </div>
            </li>

            <li class="testimonials-item">
                <ul class="testimonials-icons-list">
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                </ul>

                <p class="testimonials-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>

                <div class="testimonials-author-container">
                    <picture>
                        <source srcset="/img/home-page/feedback-wade.webp 1x, /img/home-page/feedback-wade@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source srcset="/img/home-page/feedback-wade.jpg 1x, /img/home-page/feedback-wade@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg" />
                        <img class="testimonials-image" src="/img/home-page/feedback-wade.jpg"
                            alt="Feedback portrait" />
                    </picture>
                    <div class="testimonials-text-container">
                        <h3 class="testimonials-name">Wade Warren</h3>
                        <p class="testimonials-location">California, United State</p>
                    </div>
                </div>
            </li>

            <li class="testimonials-item">
                <ul class="testimonials-icons-list">
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                    <li class="testimonials-icons-item">
                        <svg class="testimonials-icons" width="20" height="20">
                            <use href="/img/icons.svg#icon-feedback-star"></use>
                        </svg>
                    </li>
                </ul>

                <p class="testimonials-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>

                <div class="testimonials-author-container">
                    <picture>
                        <source
                            srcset="/img/home-page/feedback-marvin.webp 1x, /img/home-page/feedback-marvin@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source srcset="/img/home-page/feedback-marvin.jpg 1x, /img/home-page/feedback-marvin@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg" />
                        <img class="testimonials-image" src="/img/home-page/feedback-marvin.jpg"
                            alt="Feedback portrait" />
                    </picture>
                    <div class="testimonials-text-container">
                        <h3 class="testimonials-name"></h3>
                        <p class="testimonials-location">California, United State</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>