.hero-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.hero-section-title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 60px;
    max-width: 654px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.hero-section-text {
    max-width: 456px;
    margin-bottom: 30px;
}

.hero-section-button {
    max-width: 262px;
}

.hero-image-container {
    position: relative;
}

.hero-image {
    width: 100vw;
    margin: 0 auto;
}

.hero-image-container::after {
    content: '';
    position: absolute;

    top: -190px;
    z-index: -1;
    right: 0;
    width: 248px;
    height: 347px;
    background-image: url(/img/home-page/hero-decor.png);
    background-size: cover;
    background-repeat: no-repeat;
}