.searc-section {
    position: relative;
    top: -150px;
    left: 160px;
    border-radius: 10px;
    padding: 20px;
    max-width: 944px;
    backdrop-filter: blur(16px);
    background-color: var(--section-additional-bg-color);

    display: flex;
    align-items: center;
    z-index: 20;
}

.searc-list {
    display: flex;
    align-items: center;
    gap: 36px;
}

.searc-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 36px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    cursor: pointer;
}

.searc-item:hover .item-options-container {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.searc-item:last-child {
    padding-right: 0;
    border-right: none;
}

.searc-icon-container {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.searc-icon {
    fill: none;
    stroke-width: 1.5px;
    stroke: var(--icon-light-color);
}

.searc-item-title {
    font-weight: 700;
    font-size: 20px;
    color: var(--main-text-color-light);
    margin-bottom: 6px;
}

.searc-item-text {
    font-size: 16px;
    color: var(--main-text-color-light);
    opacity: 0.5;
}

.searc-link {
    border: 1px solid var(--button-bg-light);
    background-color: var(--button-bg-light);
    border-radius: 10px;
    min-width: 56px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 40px;
    cursor: pointer;
    transition: background-color .3s ease, fill .3s ease;
}

.searc-link:hover,
.searc-link:focus {
    background-color: var(--button-bg)
}

.searc-link-icon {
    fill: var(--icon-blue-color);
}

.searc-link:hover .searc-link-icon,
.searc-link:focus .searc-link-icon {
    fill: var(--icon-light-color)
}

/* Options list */

.options-icon-container {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background: var(--section-secondary-bg-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.item-options-container {
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    box-shadow: 0 55px 110px 0 rgba(0, 0, 0, 0.01), 0 55px 110px 0 rgba(0, 0, 0, 0.03);
    background-color: var(--section-main-bg-color);

    position: absolute;
    top: 133%;
    left: -20px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.item-options-container.coin {
    left: -44px;
}

.searc-item:hover .item-options-container {
    opacity: 1;
    visibility: visible;
}

.options-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.options-item:last-child {
    margin-bottom: 0;
}

.options-item:hover,
.options-item:focus {
    border-radius: 10px;
    background-color: rgba(69, 75, 102, 0.1);
}

.options-icon {
    fill: none;
    stroke-width: 1.5px;
    stroke: var(--icon-dark-color);
}

.options-text {
    font-size: 16px;
    color: var(--main-text-color);
}